# Игнорируем всё в корне репозитория
*

# Но разрешаем добавлять все директории (папки)
!*/

# Явно разрешаем нашу рабочую директорию app со всем её содержимым
!app/
!app/**

# Теперь возвращаем блокировки Python-окружений (они НЕ будут трогать app/, 
# потому что мы разрешили её выше)
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
bin/
include/