
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.country-change {
    position: absolute;
    top: 27px;
    right: 20px;
    padding: 20px;
}

.container {
    width: 60%;
    max-width: 800px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 20px;
}

h1 {
    color: #333;
}

img.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 180px;
    height: auto;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

pre.output {
    width: 96%;
    min-height: 100px;
    background-color: #fafafa;
    padding: 10px;
    overflow-y: scroll;
    border-radius: 5px;
    border: 1px solid #ddd;
    word-wrap: break-word;
}
