<!-- Dynamic template for blog cards -->
<h2>Dynamic template for blog cards</h2>
    {% for element in form %}
    {% set outer_index = loop.index0 %}
   
    <div class="item-all" id="{{ element.id }}">
        <div class="left-side">
            <div class="item-name">
                <label for="title">Наименование</label>
                <input type="text" id="title" value="{{element.name}}">
            </div>
            <label for="art-img">
            <img src="{{element.photo}}" alt="" id="photo" class="blog-img"></label>
            <span id="file-info"></span>
            <input type="file" id="art-img"style="display:none"> 
        </div>
        <div class="right-side">
            <textarea cols="100"rows="15" id="textcontent" value="">{{ element.text }}</textarea>
            <div class="button-wrapper">
                <button type="button" class="head-button" onclick="saveLocal(event, '{{ element.id }}')">Сохранить</button>
            </div>
        </div>
    </div>
    {% endfor %}

    