<!-- Dynamic template for input data(list) -->
<h2>{{ form.formNаme }}</h2>
    <form action="{{ form.formAction }}" method="post" id="{{ form.formId }}">
        <table id="dynamic">
            <thead>
                <tr>
                    {% for head_name in form.head %}
                    <th>{{ head_name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for tab_item in form.tabs %}
                {% set outer_index = loop.index0 %}
                    <tr>
                        {% for key, item in tab_item.items() %}
                             <td><input type="{{ form.fields[key]['type'] }}" name="{{ key }}_{{ outer_index }}" value="{{ item }}"></td>
                        {% endfor %}
                        <td><img src="{{ tab_item.prod_Photo|default('') }}" style="width: 50px;"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" onclick="submitForm(event, '{{ form.formId }}' )">{{ form.labelBtn }}</button>
    </form>