<!-- Dynamic template for input data -->
<h2>{{ form.formNаme }}</h2>
    <form action="{{ form.formAction }}" method="post" id="{{ form.formId }}">
        <table id="dynamic">
            <thead>
                <tr>
                    {% for head_name in form.head %}
                    <th>{{ head_name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for product in form.tabs %}
                {% set outer_index = loop.index0 %}
                        {% for key, item in product.items() %}
                            <td><input type="text" name="{{ key }}_{{ outer_index }}" value="{{ item }}"></td>
                        {% endfor %}
                        <td><img src="{{ product.prodPhoto|default('') }}" style="width: 50px;"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="btn-block">
            <button type="submit" onclick="submitForm(event, '{{ form.formId }}' )" title="Сохранить таблицу">{{ form.labelBtn }}</button>
            <button type="btn" onclick="clearForm(event, '{{ form.formId }}' )">Очистить</button>
        </div>
    </form>