<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Настройки блога</title>
    <link rel="stylesheet" href="static/web.css">
    
</head>
<body>
<div class="container-side">
{% include 'includes/nav.html' %}
    
    <!-- Основная область контента -->
    <main>
        <div id="notification" class="notification">Данные успешно получены!</div>
        {% include 'includes/blog-template.html' %}
        <div class="button-wrapper">
             <button type="button" class="head-button" onclick="showModal(event, 'help')">Справка</button>
        </div>
            <div class="tablebox">
            {% include 'includes/addrow.html' %}
            <button type="submit"  style="margin-top: 20px;">Отправить на сервер</button>
        </div>
        {% include 'includes/modal.html' %}
    </main>
</div>
<script src="static/js/script.js"></script>
</body>
</html>