<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Настройки</title>
    <link rel="stylesheet" href="static/web.css">
    
</head>
<body>
<div class="container-side">
{% include 'includes/nav.html' %}
    
    <!-- Основная область контента -->
    <main>
        <div id="notification" class="notification">Данные успешно получены!</div>

    <div class="tablebox">
    <h2>Настройки контента в архивах блога</h2>

    <div class="tablebox">
    <h2>Настройки таблицы товаров</h2>
    <form action="/saveTable" method="post" id="blog">
        <table>
            <thead>
                <tr>
                    <th>Наименование статьи</th>
                    <th>Наименование фото</th>
                    <th>Ссылка на статью</th>
                    <th>Изображение</th>
                </tr>
            </thead>
            <tbody>
                {% for product_name, product_data in result.items() %}
                <tr>
                    <td><input type="text" name="prodName_{{ product_name }}" value="{{ product_name }}"></td>
                    <td><input type="text" name="prodPhoto_{{ product_name }}" value="{{ product_data.prod_photo_name }}"></td>
                    <td><input type="text" name="prodLink_{{ product_name }}" value="{{ product_data.prid_link|default('') }}"></td>
                    <td><img src="{{ product_data.src|default('') }}" style="width: 50px;"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" onclick="submitForm(event, 'blog')">Записать все изменения</button>
    </form>
</div>
    <table>
                <div class="add-user">
                <br>
                <h2>Добавить статью</h2>
                <br>
                <div class="table-striped">
                <form action="/add" method="post" id="add-blog">
                <div class="doc-box">
                    <label>Заголовок статьи</label>
                    <input type="text" name="user_name" value="" required>
                </div>
                <div class="doc-box">
                    <label>Наименование фото</label>
                    <input type="password" name="user_password" value="" required>
                </div>
                <div class="doc-box">
                    <label>Ссылка на статью</label>
                    <input type="password" name="user_password" value="" required>
                </div>
                <input type="hidden" name="action_id" value="new">
                <button type="submit" onclick="submitForm(event, 'add-blog')" style="margin-top: 14px;">Сохранить</button>
                </form>
                </div>
            </div>
            </table>
    <button type="submit"  style="margin-top: 20px;">Отправить на сервер</button>
</div>


        
        <!-- <div class="decor">
            <img src="/static/images/Group-1.png" alt="">
        </div> -->
    </main>
</div>
<script src="static/js/script.js"></script>
</body>
</html>