<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Настройки</title>
    <link rel="stylesheet" href="static/web.css">
    
</head>
<body>
<div class="container-side">
{% include 'includes/nav.html' %}
    
    <!-- Основная область контента -->
    <main>
        <div id="notification" class="notification">Данные успешно получены!</div>

        <div class="tablebox">
        <h2>Настройки контента в галереях каталога</h2>
        {% for form in forms %}
        {% include 'includes/dynamic.html' %}
        {% endfor %}
    </div>
    </main>
</div>
<script src="static/js/script.js"></script>
</body>
</html>