<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Настройки</title>
    <link rel="stylesheet" href="static/web.css">
</head>
    <body>
    <div class="container-side">
        {% include 'includes/nav.html' %}
        <!-- Основная область контента -->
        <main>
            <div id="notification" class="notification">Данные успешно получены!</div>
            {% include 'includes/form.html' %}
            <button type="button" class="head-button" onclick="showModal(event, 'products')">Справка</button>
            <div class="tablebox">
                {% include 'includes/addrow.html' %}
                <button type="submit" style="margin-top: 20px;" title="Отправить данные по сети">Отправить</button>
            </div>
        </main>
        <div id="results-container" data-results="{{ result|tojson|forceescape|safe }}"></div>
        {% include 'includes/modal.html' %}
    </div>

<script src="static/js/script.js"></script>
</body>
</html>